
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.flexResourceContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.resourceLink {
  text-decoration: none;
  margin-left: 10px;
}

.cat-block {
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #ccc;
  h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .spec-block {
    margin-bottom: 10px;
  }
}

.tags {
  .Polaris-Tag {
    margin-top: 5px;
    margin-right: 5px;
  }
}

.icon-csv-upload {
  display: inline-block;
  vertical-align: middle;
  .Polaris-Icon {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

@keyframes progress-bar-stripes {
  from { 
    background-position:1rem 0;
  }
  to { 
    background-position:0 0;
  }
}

.csv-import-preloader {
  position: relative;
  overflow: hidden;
  .csv-import-progress {
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    background-color: #357997;
    transition: width .6s ease;
    text-align: center;
    color: #212b36;
    font-weight: bold;
    padding-top: 3px;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
  }

  .csv-progress-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #212b36;
    font-weight: bold;
    padding-top: 3px;
  }
}