{% capture email_title %}Welcome to {{ shop.name }}!{% endcapture %}
{% capture email_body %}You've activated your customer account. Next time you shop with us, log in for faster
checkout.{% endcapture %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    .button__cell {
      background: {{shop.email_accent_color}};
    }

    a,
    a:hover,
    a:active,
    a:visited {
      color: {{shop.email_accent_color}};
    }

    .shop-name__cell {
      text-align: center;
    }

    .footer__cell {
      background-color: rgb(127, 127, 127);
      color: #fff;
      text-align: center;
    }

    .soc-block {
      text-align: center;
      margin: 20px 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .soc-block a {
      display: inline-block;
    }

    .soc-block a img {
      width: 40px;
    }

    .footer__cell h3 {
      font-size: 16px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      margin: 0;
    }

    .disclaimer__subtext {
      color: #fff;
      text-align: center;
      font-size: 16px;
    }

    .home-url {
      text-align: center;
    }

    .home-url a {
      color: #fff;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <table class="body">
    <tr>
      <td>
        <table class="header row">
          <tr>
            <td class="header__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>
                      <table class="row">
                        <tr>
                          <td class="shop-name__cell">
                            {%- if shop.email_logo_url %}
                            <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}"
                              width="{{ shop.email_logo_width }}">
                            {%- else %}
                            <h1 class="shop-name__text">
                              <a href="{{shop.url}}">{{ shop.name }}</a>
                            </h1>
                            {%- endif %}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table class="row content">
          <tr>
            <td class="content__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>
                      <h2>{{ email_title }}</h2>
                      <p>{{ email_body }}</p>
                      {% if shop.url %}
                      <table class="row actions">
                        <tr>
                          <td class="actions__cell">
                            <table class="button main-action-cell">
                              <tr>
                                <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visit our
                                    store</a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      {% endif %}

                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table class="row footer">
          <tr>
            <td class="footer__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>
                      <h3>WE'RE SOCIAL!</h3>
                      <p class="disclaimer__subtext">Follow us on your favorite social media platform.</p>
                      <div class="soc-block">
                        <a href="https://twitter.com/PeerlessAV" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/twiter.png?13600137230459560940"
                            alt="Twitter" />
                        </a>
                        <a href="https://www.instagram.com/peerlessav/" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/inst.png?13600137230459560940"
                            alt="Instagram" />
                        </a>
                        <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQF6fOMgAjF6EgAAAWjxUy54uw9DXIx3p65SYVTXNrtuolI3mMohixdB580zjALqwjhPN_0QlcGdlOBVSygBGBC20nEsIbgJ8aO9jt75UARDGkMTx5gCEA7iYICIQFyf4iCFTUg=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2F849802"
                          target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/linedin.png?13600137230459560940"
                            alt="Linkedin" />
                        </a>
                        <a href="https://www.facebook.com/PeerlessAV" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/facebook.png?13600137230459560940"
                            alt="Facebook" />
                        </a>
                        <a href="https://www.youtube.com/c/peerlessav" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/youtube.png?13600137230459560940"
                            alt="Youtube" />
                        </a>
                        <a href="https://blog.peerless-av.com/" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/Blog_Icon-w1.png?234834"
                            alt="Blog" />
                        </a>
                      </div>
                      <div class="home-url">
                        <a href="https://peerless-av.myshopify.com/" target="_blank">www.peerless-av.com</a>
                      </div>
                    </td>
                  </tr>
                </table>
                <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>